<div class="container">
  <div
    #sizeExample
    class="size-example"
    [style.--color]="color">
    texto
  </div>
  <div>Current size: {{ size }}</div>
  <div>
    <button (click)="modifySize(1)">+</button>
    <button (click)="modifySize(-1)">-</button>
  </div>
  <div>
    <select name="color" (change)="colorChange($event)">
      <option value="black">black</option>
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
    </select>
  </div>
</div>